<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App de Ecommerce de Ropa</title>
    <link rel="stylesheet" href="../css/checkout.css">
</head>
<body>
    <div class="checkout-container">
        <header>
            <a href="../views/detail.html" class="back-btn">
                <img src="../storage/img/checkout/back_arrow.png" alt="Back">
            </a>
            <h1>Checkout</h1>
            <a href="../views/home.html" class="menu-btn">
                <img src="../storage/img/checkout/menu.png" alt="Back">
            </a>
        </header>
    <div class="cart-items">
        <div class="item">
            <img src="../storage/img/checkout/product1.png" alt="Modern clothes">
            <div class="details">
                <h2>Modern Clothes</h2>
                <p>Black Shirt</p>
                <span class="price">$212.99</span>
            </div>
            <div class="quantity">
                <button>-</button>
                <span>4</span>
                <button>+</button>
            </div>
            <button class="options-btn">
                <img src="../storage/img/checkout/points.png" alt="Options">
            </button>
        </div>
        <div class="item">
            <img src="../storage/img/checkout/product2.png" alt="Casual Dress">
            <div class="details">
                <h2>Casual Dress</h2>
                <p>Black Dress</p>
                <span class="price">$162.99</span>
            </div>
            <div class="quantity">
                <button>-</button>
                <span>1</span>
                <button>+</button>
            </div>
            <button class="options-btn">
                <img src="../storage/img/checkout/points.png" alt="Options">
            </button>
        </div>
</body>
</html>