<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App de Ecommerce de Ropa</title>
    <link rel="stylesheet" href="../css/checkout.css">
</head>
<body>
    <div class="checkout-container">
        <header>
            <a href="../views/detail.html" class="back-btn">
                <img src="../storage/img/checkout/back_arrow.png" alt="Back">
            </a>
            <h1>Checkout</h1>
            <a href="../views/home.html" class="menu-btn">
                <img src="../storage/img/checkout/menu.png" alt="Back">
            </a>
        </header>
</body>
</html>