<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App de Ecommerce de Ropa</title>
    <link rel="stylesheet" href="../css/detail.css">
</head>
<body>
    <div class="container">
        <div class="image-container">
            <img src="../storage/img/detail/Back.png" alt="Back" class="icon back-icon">
            <img src="../storage/img/detail/heart.png" alt="Favorite" class="icon heart-icon">
            <img src="../storage/img/detail/product3.png" alt="Light Dress Bless" class="product-image">
        </div>
    </div>
</div>
<div class="content">
    <h1>Light Dress Bless</h1>
    <div class="rating">
        <img src="../storage/img/detail/star.png" alt="Star" class="star">
        <span class="rating-value">5.0</span>
        <a href="#" class="reviews">(7,932 reviews)</a>
    </div>
    <p class="description">
        Its simple and elegant shape makes it perfect for <br>those of you who like minimalist <br> clothes
        <a href="#" class="read-more">Read More...</a>
    </p>
</body>
</html>