<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App de Ecommerce de Ropa</title>
    <link rel="stylesheet" href="../css/detail.css">
</head>
<body>
    <div class="container">
        <div class="image-container">
            <img src="../storage/img/detail/Back.png" alt="Back" class="icon back-icon">
            <img src="../storage/img/detail/heart.png" alt="Favorite" class="icon heart-icon">
            <img src="../storage/img/detail/product3.png" alt="Light Dress Bless" class="product-image">
        </div>
    </div>
</body>
</html>