<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App de Ecommerce de Ropa</title>
    <link rel="stylesheet" href="../css/detail1.css">
</head>
<body>
    <div class="container">
        <div class="image-container">
            <img src="../storage/img/detail/Back.png" alt="Back" class="icon back-icon">
            <img src="../storage/img/detail/heart.png" alt="Favorite" class="icon heart-icon">
            <img src="../storage/img/detail/product1.png" alt="Modern Clothes" class="product-image">
        </div>
    </div>
</div>
<div class="content">
    <h1>Modern Clothes</h1>
    <div class="rating">
        <img src="../storage/img/detail/star.png" alt="Star" class="star">
        <span class="rating-value">5.0</span>
        <a href="#" class="reviews">(7,932 reviews)</a>
    </div>
    <div class="counter-container">
        <button class="button">−</button>
        <input type="number" value="1" min="0" class="count">
        <button class="button">+</button>
    </div>
    <p class="description">
        Its simple and elegant shape makes it perfect for <br>those of you who like minimalist <br> clothes
        <a href="#" class="read-more">Read More...</a>
    </p>
    <hr>
    <div class="Options">
        <p>Choose Size</p>
        <p>Color</p>
    </div>
    <div class="size-container">
        <input type="radio" id="size-s" name="size" class="size-input">
        <label for="size-s" class="size-label">S</label>
        <input type="radio" id="size-m" name="size" class="size-input">
        <label for="size-m" class="size-label">M</label>
        <input type="radio" id="size-l" name="size" class="size-input">
        <label for="size-l" class="size-label">L</label>
        <input type="radio" id="size-xl" name="size" class="size-input">
        <label for="size-xl" class="size-label">XL</label>
    </div>
    <div class="color-container">
        <input type="radio" id="color1" name="color" class="color-input">
        <label for="color1" class="color-label color-gray"></label>
        <input type="radio" id="color2" name="color" class="color-input">
        <label for="color2" class="color-label color-darkgray"></label>
        <input type="radio" id="color3" name="color" class="color-input">
        <label for="color3" class="color-label color-black"></label>
    </div>
    <footer>
        <section class="total-price">
            <a href="../views/checkout1.html">
                <img src="../storage/img/detail/Main_Icon.png" alt=""> Add to cart | 212.99 <samp>$249.99</samp>
            </a>
        </section>
    </footer>
</body>
</html>