<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../css/home.css">
</head>
<body>
    <header class="header">
        <div class="user-info">
            <h3>Hello, Welcome 👋</h3>
            <h1>Sofia Arias</h1>
        </div>
        <img src="../storage/img/home/header/user.png" alt="User Profile" class="profile-pic">
    </header>
    <nav class="nav__busqueda">
        <form class="form__busqueda" action="?" method="get">
            <div class="input__logo">
                <input type="text" name="search" placeholder="Search clothes. . .">
            </div>
            <div class="input__filtro">
                <input type="submit" value="">
            </div>
        </form>
        <ul class="nav__categoria">
            <li class="select"><img src="../storage/img/home/category/all_icon.png" alt=""><a href="#">All items</a></li>
            <li><img src="../storage/img/home/category/dress_icon.png" alt=""><a href="#">Dress</a></li>
            <li><img src="../storage/img/home/category/shirt_icon.png" alt=""><a href="#">T-Shirt</a></li>
            <li><img src="../storage/img/home/category/jeans_icon.png" alt=""><a href="#">Jeans</a></li>
        </ul>
    </nav>
    <main>
        <section class="section__productos">
            <article class="article__contenedora">
                <a href="model1.html"><img src="../storage/img/home/shop/model1.png"></a>
                <div class="icono__reacciones">
                    <img src="../storage/img/home/shop/heart1.png" alt="Favorito">
                </div>
                <div class="info__producto">
                    <strong>Modern Clothes</strong>
                    <p> Black Shirt</p>
                    <div class="contenedor__precio">
                        <span class="precio__producto">$212.99</span> 
                        <div class="reacciones__producto">
                            <img src="../storage/img/home/shop/Start.png">
                            <label>5.0</label>
                        </div>
                    </div>
                </div>
            </article>
            <article class="article__contenedora">
                <a href="model2.html"><img src="../storage/img/home/shop/model2.png"></a>
                <div class="icono__reacciones">
                    <img src="../storage/img/home/shop/heart2.png" alt="Favorito">
                </div>
                <div class="info__producto">
                    <strong>Casual Dress</strong>
                    <p>Black Dress</p>
                    <div class="contenedor__precio">
                        <span class="precio__producto">$162.99</span> 
                        <div class="reacciones__producto">
                            <img src="../storage/img/home/shop/Start.png">
                            <label>5.0</label>
                        </div>
                    </div>
                </div>
            </article>
            <article class="article__contenedora">
                <a href="model3.html"><img src="../storage/img/home/shop/model3.png"></a>
                <div class="icono__reacciones">
                    <img src="../storage/img/home/shop/heart1.png" alt="Favorito">
                </div>
                <div class="info__producto">
                    <strong>Urban Clothing</strong>
                    <p>Mocho Jeans</p>
                    <div class="contenedor__precio">
                        <span class="precio__producto">$194.99</span> 
                        <div class="reacciones__producto">
                            <img src="../storage/img/home/shop/Start.png">
                            <label>4.8</label>
                        </div>
                    </div>
                </div>
            </article>
            <article class="article__contenedora">
                <a href="model4.html"><img src="../storage/img/home/shop/model4.png"></a>
                <div class="icono__reacciones">
                    <img src="../storage/img/home/shop/heart1.png" alt="Favorito">
                </div>
                <div class="info__producto">
                    <strong>Elegant Clothes</strong>
                    <p>Casual Dress</p>
                    <div class="contenedor__precio">
                        <span class="precio__producto">$122.99</span> 
                        <div class="reacciones__producto">
                            <img src="../storage/img/home/shop/Start.png">
                            <label>4.8</label>
                        </div>
                    </div>
                </div>
            </article>
        </section>
    </main>
    <footer>
        <div class="div__izquierdo">
            <a href="#"><img src="../storage/img/home/icon/icon_home.png"></a>
            <a href="#"><img class="footer_icon2" src="../storage/img/home/icon/icon_cart.png"></a>
        </div>
        <div class="div__derecho">
            <a href="#"><img src="../storage/img/home/icon/icon_favourite.png"></a>
            <a href="#"><img src="../storage/img/home/icon/icon_account.png"></a>
        </div>
    </footer>
</body>
</html>