<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../css/home.css">
</head>
<body>
    <header class="header">
        <div class="user-info">
            <h3>Hello, Welcome 👋</h3>
            <h1>Sofia Arias</h1>
        </div>
        <img src="../storage/img/home/header/user.png" alt="User Profile" class="profile-pic">
    </header>
    <nav class="nav__busqueda">
        <form class="form__busqueda" action="?" method="get">
            <div class="input__logo">
                <input type="text" name="search" placeholder="Search clothes. . .">
            </div>
            <div class="input__filtro">
                <input type="submit" value="">
            </div>
</body>
</html>