@import url(variables.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-4);
}

/**************** header ******************/
header {
    /* background-color: red; */
    padding: 28px 19px 0px;
    display: flex;
    justify-content: space-between;
}

.header__titulo {
    /* background-color: olivedrab; */
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.header__titulo h1 {
    /* background-color: violet; */
    font-family: "EncodeSans-Bold";
    font-size: 18px;
    color: var(--color-5);
    font-weight: normal;
}

.user-info h3 {
    /* background-color: blueviolet; */
    font-family: "EncodeSans-Regular";
    font-size: 17px;
    font-weight: 400;
    color: var(--color-2);
}

header img {
    width: 40px;
    height: 40px;
    object-position: 40% 25%;
    border-radius: 50%;
    border-color: var(--color-5);
    border: none;
    margin-top: 5px;
    margin-right: 5px;
}

/******************************************/
 /**************** nav ******************/
.nav__busqueda {
    /* background: red; */
    padding: -20px 19px 0px;
}

.form__busqueda {
    /* background: blue; */
    padding: 19px 19px 40px 19px;
    overflow: hidden;
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: space-between;
}

.input__logo {
    flex: 1;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.input__logo::before {
    content: url(../storage/img/home/header/search.png);
    position: absolute;
    padding-left: 16px;
    padding-top: 8px;
    transform: scale(1.2);
}

.form__busqueda input[type="text"] {
    box-sizing: content-box;
    flex: 1;
    width: 100%; 
    max-width: 520px; 
    height: 50px; 
    font-family: "EncodeSans-Regular";
    font-size: 17px;
    outline: none;
    border-radius: 10px;
    border-color: var(--color-6);
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0 15px 0 50px; 
}
.form__busqueda input[type="text"]::placeholder {
    color: var(--color-3);
}

.input__filtro {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.input__filtro::after { 
    content: url(../storage/img/home/header/menu_icon.png);
    width: 18px;
    height: 18px;
    object-fit: cover;
    position: absolute;
}

.form__busqueda input[type="submit"] {
    flex: 1;
    width: 60px;
    height: 60px;
    border: none;
    outline: none;
    border-radius: 15px;
    background: var(--color-1);
}

.nav__categoria li img {
    margin-right: 9px; 
}

.nav__categoria {
    /* background: green; */
    margin: 0px 20px 0;
    display: flex;
    overflow-x: scroll;
    gap: 14px;
}

.nav__categoria li {
    background: white;
    flex: 1;
    list-style: none;
    border-radius: 20px;
    min-width: 120px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__categoria li a {
    /* background: yellow; */
    text-decoration: none;
    font-family: "EncodeSans-Medium";
    color: var(--color-1);
    font-size: 16px;
}

li.select {
    background: var(--color-1);
}

li.select a {
    color: var(--color-4);
}

li:active {
    background: var(--color-1);
}

li:active a {
    color: var(--color-4);
}

/******************************************/
 /**************** main ******************/
main{
    padding: 41px 19px 0px;
}

.section__productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.article__contenedora {
    background-color: white;
    width: 47%;
    margin-bottom: 5%;
    height: 225px;
    display: flex;
    gap: 9px;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: none;
    position: relative;
}

.article__contenedora::after{
    content: " ";
    width: 90px;
    height: 5px;
    backdrop-filter: invert(10px);
    background: var(--color-shadow-1);
    border-radius: 100%;
    position: absolute;
    z-index: 5;
    inset: 0;
    margin: auto;
}

.icono__reacciones img[src*="heart1.png"] {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 24px; 
    height: 24px;
    z-index: 15; 
}


.article__contenedora a {
    height: 150px;
    overflow: hidden;
    padding: 0px 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 10;
}

.article__contenedora a img {
    width: 200%;
    height: 100%;
    max-height: 200px;
    border-radius: 12px;
    object-fit: cover;
    object-position: top;
}

.info__producto {
    display: flex;
    flex-direction: column;
    padding: 0 11px;
    font-family: "EncodeSans-SemiBold";
    gap: 2px;
}

.precio__producto {
    font-size: 17px;
    font-weight: bold;
    color: var(--color-5);
    margin-top: 5px;
    display: block;
}

.contenedor__precio {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info__producto strong {
    font-family: "EncodeSans-SemiBold";
    color: var(--color-5);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.info__producto p {
    font-family: "EncodeSans-Regular";
    color: var(--color-2);
    font-size: 11px;
    margin-top: 8px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.reacciones__producto {
    padding: 0 11px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    font-size: 16px; 
    color: var(--color-1);
}

.section__productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.article__contenedora {
    background-color: white;
    width: 47%;
    margin-bottom: 5%;
    height: 225px;
    display: flex;
    gap: 9px;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: none;
    position: relative;
}

.article__contenedora::after {
    content: " ";
    width: 90px;
    height: 5px;
    backdrop-filter: invert(10px);
    background: var(--color-shadow-1);
    border-radius: 100%;
    position: absolute;
    z-index: 5;
    inset: 0;
    margin: auto;
}

.icono__reacciones img {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 24px; 
    height: 24px;
    z-index: 15;
}

.article__contenedora a {
    height: 150px;
    overflow: hidden;
    padding: 0px 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 10;
}

.article__contenedora a img {
    width: 180%;
    height: 100%;
    max-height: 200px;
    border-radius: 12px;
    object-fit: cover;
    object-position: top;
}

.info__producto {
    display: flex;
    flex-direction: column;
    padding: 0 11px;
    font-family: "EncodeSans-SemiBold";
    gap: 2px;
}

.precio__producto {
    font-size: 17px;
    font-weight: bold;
    color: var(--color-5);
    margin-top: 5px;
    display: block;
}

.contenedor__precio {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info__producto strong {
    font-family: "EncodeSans-SemiBold";
    color: var(--color-5);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.info__producto p {
    font-family: "EncodeSans-Regular";
    color: var(--color-2);
    font-size: 11px;
    margin-top: 8px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.reacciones__producto {
    padding: 0 11px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    color: var(--color-1);
}

.article__contenedora:nth-child(2) {
    height: 260px;
    width: 50%; 
    transform: scale(1.1); 
}

.article__contenedora:nth-child(3) {
    height: 250px;
    width: 48%; 
    transform: scale(1);
    position: relative;
    top: -34px;  
}

.article__contenedora:nth-child(3) a {
    height: 160px; 
    padding: 0px 15px; 
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 10;
}

.article__contenedora:nth-child(3) a img {
    width: 100%; 
    height: 100%;
    max-height: 180px; 
    border-radius: 12px;
    object-fit: cover;
    object-position: center; 
}

.article__contenedora:nth-child(3) .info__producto {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    font-family: "EncodeSans-SemiBold";
    gap: 2px;
}

.article__contenedora:nth-child(3) .precio__producto {
    font-size: 15px;
    font-weight: bold;
    color: var(--color-5);
    margin-top: 3px;
    display: block;
}

.article__contenedora:nth-child(3) .contenedor__precio {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.article__contenedora:nth-child(3) .info__producto strong {
    font-family: "EncodeSans-SemiBold";
    color: var(--color-5);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.article__contenedora:nth-child(3) .info__producto p {
    font-family: "EncodeSans-Regular";
    color: var(--color-2);
    font-size: 11px;
    margin-top: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.article__contenedora:nth-child(3) .reacciones__producto {
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    color: var(--color-1);
}

.article__contenedora:nth-child(3) {
    margin-top: 0;
}

.article__contenedora {
    background: transparent !important;
    box-shadow: none; 
}
